*{
    margin:0;
    padding:0;
}

.body{

	font-size: 62.5%;
	/*
	1rem=10px
	 */
}

ul,li,ol,dl{
    list-style:none;
}
a{
	text-decoration: none;
	display:inline-block;
}



@font-face{
	font-family:Yh;
	src:url('../font/msyh.ttc');
}
@font-face{
	font-family:Std;
	src:url('../font/AdobeHeitiStd-Regular.otf');
}
@font-face{
	font-family:Fz;
	src:url('../font/方正正大黑简体.ttf');
}
@font-face{
	font-family:Fzz;
	src:url('../font/方正正粗黑简体.ttf');
}
@font-face{
	font-family:Fzd;
	src:url('../font/方正粗雅宋_GBK.TTF');
}
@font-face{

	font-family: Bs;
	src:url(../font/BrushScriptStd.otf);
}
@font-face{

	font-family: Gs;
	src:url(../font/GiddyupStd.otf);
}
@font-face{

	font-family: Ma;
	src:url(../font/MATURASC.TTF);
}
@font-face{
	font-family: Mps;
	src:url(../font/MyriadPro-SemiboldIt.otf);
}
body{
	font-family: Osl;
	color:#353535;
}

.container{
	margin:0 auto;
}



/* 1200<=x */
@media screen and (min-width:768px)
{
	.container{
		width:720px;
	}
}

@media screen and (min-width:992px)
{
	.container{
		width:970px;
	}
}


@media screen and (min-width:1200px)
{
	.container{
		width:1170px;
	}
}



